*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-image: url("q.jpg");
    background-size: cover;
    color:aqua;
} 
.header-bar{
    height: 60px;
    background-color:#081b31;
    color: azure;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 25px;
}
.choice{
    height: 100px;
    width: 100px;
    margin: 60px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
img{
    height: 160px;
    width: 160px;
    border-radius:50%;
    object-fit: cover;
}
img:hover{
    border:5px solid white;
    opacity: 0.5;
}
.score-board{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 19rem;
}
#comp-score{
    margin-left: 2rem;
}
.score{
    font-size: 3rem;
}
#msg{
    width: 15rem;
    background-color:#081b31;
    color: aliceblue;
    font-size: 2rem;
    border-radius: 20px;
    line-height: 3rem;
    margin-top: 150px;
    margin-left: 590px;
    
    
}

